*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffff;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
header img{
    top: -80px;
    left: -180px;
    height: 330px;
    width: 630px;
    position: absolute;
    z-index: 1;
}
header{
    background: rgb(154, 216, 39);
    position: relative;
    text-align: center;
    padding: 15px 180px 18px 180px;
    height: auto;
}

/* Amikor a 'szakképzés' oldal aktív, a fejléc eltűnik */
header.hidden {
    opacity: 0;
    padding: 0;
    height: 0;
    transform: translateY(-100%); /* Elrejti a fejlécet felfelé */
    transition: 1.5s;
}
header.hidden img{
    opacity: 0;
    padding: 0;
    height: 0;
    transform: translateY(-100%); /* Elrejti a fejlécet felfelé */
    transition: 1s;
}

header span{
    font-size: 28px;
}
header .cim{
    font-size: 30px;
    color: white;
}
header h1{
    color: white;
    font-size: 28px;
    margin: 15px 0 0 0;
}
header h2{
    margin: 0px 150px 0px 150px;
}



.menusor nav {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px 0 13px 0;
}
.menusor nav a{
    float: none;
    display: flex;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    z-index: 2;
    justify-content: center;
}
nav li{
    z-index: 3;
    position: relative;
    display: grid;
    width: 182px;

}
.menusor nav a:hover {
    color: rgb(30, 82, 28);
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 50px;
    transition: 1s;

}
.menusor{
    width: 100%;
    position: relative;
    text-align: center;
    height: 60px;
    background-color: #333;
}

.menusor li ul{
    top: 10px;
    padding: 0;
    display: none;
    width: 100%;
}

.menusor li:hover ul{
    display: block;
    background-color: #333;
    border-radius: 0 0 25px 25px;
    z-index: 0;
    padding: 0;
    box-shadow: 10px 10px 50px 8px #333;
}

.menusor li:hover ul::after{
    content: '';
    height: 30px;
    width: 30px;
    top: 52px;
    right: -30px;
    position: absolute;
    display: block;
    background: none;
    box-shadow: -8px -8px 0 8px #333;
    z-index: 1;
    border-top-left-radius: 25px;
}
.menusor li:hover ul::before{
    content: '';
    height: 30px;
    width: 30px;
    top: 52px;
    left: -30px;
    position: absolute;
    display: block;
    background: none;
    box-shadow: 8px -8px 0 8px #333;
    z-index: 1;
    border-top-right-radius: 25px;
}





.egész{
    position: relative;
    height: auto;
    margin: 0 130px 50px 55px;
    display: grid;
    grid-template-rows: auto auto 45px;
    grid-template-columns: 20% 43% 37%;
}

.álandok{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    position: relative;
    display: grid;
    font-size: 25px;
    justify-content: start;
    top: 45px;
    align-items: start;
    left: 30px;
    gap: 25px;
    padding-top: 20px;
    height: max-content;
}
.álandok span{
    position: relative;
    color: green;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.álandok a{
    position: relative;
    text-decoration: none;
    color: black;
    left: 25px;
    padding: 8px;
    border-radius: 25px;
}
.álandok a:hover{
    transition: 1s;
    background-color: rgb(153, 255, 153);
    box-shadow: 25px 25px 45px rgba(0, 0, 0, 0.25),
    10px 10px 40px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(255, 255, 255, 0.25),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.képek{
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: grid;
    position: relative;
    height: 100%;
    width: 100%;
}

.bal{
    position: relative;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    top: 75px;
}


.képek .Kezdőlap .részei{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.Kezdőlap .részei img{
    position: relative;
    display: flex;
    height: 300px;
}


.iskolárol{
    position: relative;
    font-size: 20px;
}
.iskolárol span{
    display: grid;
    position: relative;
    color: green;
    font-size: 50px;
    font-weight: bold;
}
.iskolárol img{
    width: 45%;
    float: left;
    margin: 0 15px 0 0;
}

.szoveg h1 {
    text-align: center;
}
.szoveg p {
    text-align: justify;
    margin-bottom: 20px;
}
.szoveg strong {
    color: #333;
}


.tablepress_tablepress-id-20{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1em;
    min-width: 76.5%;
    border: 2px solid black;
}
.tablepress_tablepress-id-20 td{
    padding: 12px 15px;
    border: 2px solid #000000;
}
.tablepress_tablepress-id-20 tr:hover td{
    background-color: #cde5c8;
}
.tablepress_tablepress-id-20 tr:nth-of-type(even){
    background-color: #d4d4d480;
}

.tablepress_tablepress-id-19{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 90%;
    border: 2px solid black;
}
.tablepress_tablepress-id-19 td{
    padding: 10px 13px;
    border: 2px solid #000000;
}
.tablepress_tablepress-id-19 tr:hover td{
    background-color: #cde5c8;
}
.tablepress_tablepress-id-19 tr:nth-of-type(even){
    background-color: #d4d4d480;
}

.táblázatok a{
    color: green;
    text-decoration: none;
    font-size: 25px;
}
.táblázatok h1{
    font-size: 3em;
    color: green;
    padding-bottom: 10px;
}
.entry-content h3{
    font-size: 1.7em;
    color: green;
}







.tablepress_tablepress-id-21{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1em;
    min-width: 95%;
    border: 2px solid black;
}
.tablepress_tablepress-id-21 thead{
    padding: 15% 35%;
}
.tablepress_tablepress-id-21 thead th{
    background-color: green;
    color: white;
    padding: 2% 1%;
    font-weight: bold;
    font-size: 110%;
}
.tablepress_tablepress-id-21 td{
    padding: 2% 1%;
    border: 2px solid #000000;
}
.tablepress_tablepress-id-21 tr:hover td{
    background-color: #cde5c8;
}
.tablepress_tablepress-id-21 tr:nth-of-type(even){
    background-color: #d4d4d480;
}


.beosztástáblázat a{
    color: green;
    text-decoration: none;
    font-size: 25px;
}
.beosztástáblázat h1{
    font-size: 3em;
    color: green;
    padding-bottom: 10px;
}
.entry-content h3{
    font-size: 1.7em;
    color: green;
}





.elökészítőévfolyam h1{
    font-size: 3em;
    color: green;
    padding-bottom: 24px;
}
.elökészítőévfolyam p{
    font-size: 23px;
    padding-bottom: 12px;
}




.szakképzés iframe {
    width: 100%;
    height: 900px;
    position: relative;
}

.szakképzés {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Az oldal teljes magassága */
    overflow: hidden; /* Ne engedj görgetést az oldalon */
    position: relative;
    top: -70px;
}

.itemkep {
    opacity: 0; /* Kezdetben rejtett */
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
    position: absolute;
    top: 0; /* A képek az oldal tetején */
    left: 50%;
    transform: translateX(-50%) scale(1.1); /* Képek kicsit nagyobbak */
    max-width: 100%;
    height: 100%;
    max-height: 93%;
    object-fit: cover;
}

.itemkep.active {
    opacity: 1; /* Az aktív képet láthatóvá tesszük */
    transform: translateX(-50%) scale(1); /* Visszaáll normál méretre */
    z-index: 10; /* Az aktív kép legyen legfelül */
}




@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.content.active {
    animation: fadeIn 1s ease-in-out;
}

.hidden {
    display: none !important;
}

.felvételi_tájékoztató{
    width: 100%;
}

.felvételi_tájékoztató h1{
    color: green;
    font-size: 2em;
    margin-bottom: 24px;
}

.felvételi_tájékoztató2 h3{
    margin-top: 36px;
    color: green;
    font-size: 3em;
    margin-bottom: 24px;
}

.felvételi_tájékoztató p{
    margin-bottom: 12px;
    font-size: 23px;
}

.felvételi_tájékoztató2 a{
    color: green;
}


.felvételi_tájékoztató_tábla h3{
    margin-top: 36px;
    color: green;
    font-size: 2em;
    margin-bottom: 24px;
}

.felvételi_tájékoztató_tábla .tablepress_tablepress-id-22,
.tablepress_tablepress-id-17_dataTable_no-footer,
.tablepress_tablepress-id-18_dataTable_no-footer{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 90%;
    border: 2px solid black;
}

.felvételi_tájékoztató_tábla .tablepress_tablepress-id-22 thead th,
.tablepress_tablepress-id-17_dataTable_no-footer thead th,
.tablepress_tablepress-id-18_dataTable_no-footer thead th{
    background-color: green;
    color: white;
    padding: 2% 1%;
    font-weight: bold;
    font-size: 120%;
}


.felvételi_tájékoztató_tábla .tablepress_tablepress-id-22 td,
.tablepress_tablepress-id-17_dataTable_no-footer td,
.tablepress_tablepress-id-18_dataTable_no-footer td{
    padding: 10px 13px;
    border: 2px solid #000000;
    font-size: 110%;
}
.felvételi_tájékoztató_tábla .tablepress_tablepress-id-22 tr:hover td,
.tablepress_tablepress-id-17_dataTable_no-footer tr:hover td,
.tablepress_tablepress-id-18_dataTable_no-footer tr:hover td{
    background-color: #cde5c8;
}
.felvételi_tájékoztató_tábla .tablepress_tablepress-id-22 tr:nth-of-type(even),
.tablepress_tablepress-id-17_dataTable_no-footer tr:nth-of-type(even),
.tablepress_tablepress-id-18_dataTable_no-footer tr:nth-of-type(even){
    background-color: #d4d4d480;
}

.hirek title,.fényképek title,.videók title,.büszkeségeink title{
    color: black;
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
}















body {
    overflow: hidden; /* Görgetés letiltása alapértelmezetten */
}

body.active {
    overflow: auto; /* Az oldal aktív tartalom esetén engedélyezett görgetés */
}




#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white; /* Háttér fehér */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#preloader img {
    max-width: 150px; /* GIF mérete */
}

#content {
    display: none; /* Amíg nem tölt be, ne jelenjen meg az oldal */
}



.content {
    display: none;
}
.content.active {
    display: block;
}




.lábrészhely{
    position: relative;
    width: 100%;
}

.lábrész{
    display: flex;
    position: relative;
    padding: 30px 45px 60px 45px;
    justify-content: center;
    gap: 80px;
    background: rgb(71, 100, 18);
}

.lábrész div{
    gap: 10px;
    position: relative;
    display: grid;
    color: white;
    font-size: 20px;
}

.lábrész div .cim{
    color: rgb(206, 255, 114);
    font-size: 30px;
}
.lábrész div a{
    color: white;   
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    left: -4px;
    position: relative;
    display: flex;
    border-radius: 15px;
}
.lábrész div a:hover{
    background-color: green;
    box-shadow: 25px 25px 45px rgba(0, 0, 0, 0.25),
    10px 10px 40px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(255, 255, 255, 0.25),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.lábrész div .faceboklogo a:hover{

    background-color: blue;
    box-shadow: 25px 25px 45px rgba(0, 0, 0, 0.25),
    10px 10px 40px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(255, 255, 255, 0.25),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.lábrész div .tiklogo a:hover{

    background-color: black;
    box-shadow: 25px 25px 45px rgba(0, 0, 0, 0.25),
    10px 10px 40px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(255, 255, 255, 0.25),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.lábrész div .instlogo a:hover{

    background: linear-gradient(45deg, #ffe943, #ff6acd );
    box-shadow: 25px 25px 45px rgba(0, 0, 0, 0.25),
    10px 10px 40px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(255, 255, 255, 0.25),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
.lábrész div .youlogo a:hover{

    background-color: red;
    box-shadow: 25px 25px 45px rgba(0, 0, 0, 0.25),
    10px 10px 40px rgba(0, 0, 0, 0.25),
    inset 5px 5px 10px rgba(255, 255, 255, 0.25),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}

.lábrész a .icon{
    font-size: 0;
    transition: 0.5s ;
    height: auto;
    width: auto;
    position: absolute;
}
.lábrész a:hover .icon{
    font-size: 2.5em;
    transform: translateX(-60px);
}

.navigate{
    top: -15px;
    color: red;

    height: 45px;
    width: 45px;
    background-color: white;
    position: absolute;
    z-index: -1;
    border-radius: 100%;
}

.mail{
    top: -12px;
    color: red;
    background: white;
    height: 40px;
    width: 45px;

    position: absolute;
    z-index: -1;
    border-radius: 30%;
}


.facelogo{
    color: blue;
    background-color: white;
    border-radius: 110%;
    padding: 2%;
    position: relative;
    top: -15px;
    z-index: -1;
}

.tiktoklogo{
    color: white;
    background-color: black;
    border-radius: 100%;
    padding: 12%;
    font-size: 0.9em;
    position: relative;
    top: -18px;
    left: -2px;
    z-index: -1;
}

.intalogo{
    background: linear-gradient(45deg, #ffe943, #ff6acd );
    color: white;
    border-radius: 30%;
    padding: 2%;
    position: relative;
    top: -15px;
    z-index: -1;
}

.yutubelogo{
    color: red;
    padding: 7%;
    top: -15px;
    left: -5px;
    position: relative;
    border-radius: 20%;
    z-index: -1;
}
.yutubelogo::after{
    content: '';
    height: 45px;
    width: 58px;
    background-color: white;
    top: 6px;
    left: 0px;
    position: absolute;
    z-index: -2;
    border-radius: 20%;

}

.teteje{
    position: relative;
    width: 100%;
    z-index: 10000;
}








@media screen and (max-width: 1920px) {
    .egész{
        position: relative;
        height: auto;
        margin: 0 130px 50px 55px;
        display: grid;
        grid-template-rows: auto auto 45px;
        grid-template-columns: 10% 57% 33%;
    }
}